<div class="feature-container">
  <h2>My Current Schedule</h2>
  
  <div *ngIf="isLoading" class="loading-indicator">
    Loading your schedule...
  </div>
  
  <div *ngIf="!isLoading">
    <table *ngIf="studentCourses.length > 0; else noCourses">
      <thead>
        <tr>
          <th>Course Code</th>
          <th>Section</th>
          <th>Days</th>
          <th>Time Slot</th>
          <th>Instructor</th>
          <th>Campus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of studentCourses">
          <td>{{ course.course_code }}</td>
          <td>{{ course.section_number }}</td>
          <td>{{ course.day_pattern }}</td>
          <td>Slot {{ course.time_slot }}</td>
          <td>{{ course.instructor }}</td>
          <td>{{ course.campus }}</td>
        </tr>
      </tbody>
    </table>
    
    <ng-template #noCourses>
      <div class="no-courses-message">
        You are not enrolled in any courses.
      </div>
    </ng-template>
  </div>
</div>